{% extends "pages/base.html" %}
{% block title %}Careers{% endblock title %}
{% block active_tab %}careers{% endblock active_tab %}
{% block main %}
<div class="container-fluid">
    <div class="row mt-3 w-100">
        <div class="col-8">
            <img src="/static/images/opportunity.avif" class="col img-fluid">
        </div>
        <div class="col d-flex flex-column fs-3 fw-bold justify-content-around">
            <p>Knock knock...</p>
            <p>Who's there?</p>
            <p class="fw-bolder">Opportunity</p>
        </div>
    </div>
</div>
{% endblock %}